.header {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-top: 29px;

    &__logo {

    }

    .main-menu {
        display: flex;
        margin-left: auto;
        font-size: 20px;

        &__item {
            display: flex;
            align-items: center;
            margin-right: 30px;

            &:hover {
                a {
                    color: $_green;
                }
            }

            &:nth-child(2),
            &:nth-child(3) {

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    display: none;
                }
            }

            &:first-child {
                
                a {
                    display: flex;
                    align-items: center;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &_arrow {
                position: relative;
                transform: rotate(90deg) scale(0.7);
                top: 2px;
            }
        }
    }

    .button__green {
        display: none;
        height: 32px;
        margin-left: 30px;
        padding: 7px 15px;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            display: block;
        }
    }
}