.header {
    display: flex;
    align-items: center;
    height: 40px;
    padding-top: 29px;

    &__logo {

    }

    .main-menu {
        display: flex;
        margin-left: auto;
        font-size: 20px;

        &__item {
            display: flex;
            align-items: center;
            margin-right: 30px;

            &:first-child {
                
                a {
                    display: flex;
                    align-items: center;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &_arrow {
                position: relative;
                transform: rotate(90deg) scale(0.7);
                top: 2px;
            }
        }
    }
}