.intro {
    height: 1000px;
    background: url(../../assets/images/content/Background/hero-image.jpg) no-repeat;
    background-size: cover;
    color: white;

    @media screen and (max-width: 1280px) {
        height: 754px;
        background-position: top left -80px;
    }

    @media screen and (max-width: 1024px) {
        background-position: top left -210px;
    }

    @media screen and (max-width: 768px) {
        background-position: top left -340px;
    }

    @media screen and (max-width: 375px) {
        background-position: top left -600px;
    }

    a {
        color: white;
    }

    @import './_top-bar';
    @import './_header';
    @import './_intro_content'

}